################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitConsoleApp/.vs/GitConsoleApp/FileContentIndex/5c618971-d7b2-4bb0-bfaa-17d349bf95ad.vsidx
